include CHANGES.rst
include LICENSE.txt
include MANIFEST.in
include README.rst
include test_zopfli.py
include _zopfli/_zopflimodule.h
recursive-include _zopfli/zopfli *.h CONTRIBUTORS COPYING README*
