name: Build
on:
  - push
  - pull_request
jobs:
  build:
    strategy:
      matrix:
        platform:
          - Linux
          - macOS
          - Windows
        include:
          - platform: Linux
            os: ubuntu-latest
          - platform: macOS
            os: macos-latest
          - platform: Windows
            os: windows-latest
    name: Build on ${{ matrix.platform }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Build
        uses: pypa/cibuildwheel@v2.21
        env:
          CIBW_SKIP: pp* *musllinux*
          CIBW_ARCHS_MACOS: x86_64 universal2
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.platform }}
          path: wheelhouse
  merge:
    name: Merge artifacts
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Merge artifacts
        uses: actions/upload-artifact/merge@v4
        with:
          name: dist
          delete-merged: true
